<div tabindex="0">
    <!-- <div fxLayout="row" fxLayoutWrap>
        <div *ngFor="let prop of propResponse">
            <a *ngIf="prop.neighborhood == id" href="{{prop.url}}">
                <md-card class="card-size" tabindex="0">
                <md-card-title>{{prop.address}}</md-card-title>
                <md-card-content>
                    <md-list>
                    <md-list-item>id: {{prop.id}}</md-list-item>
                    <md-list-item>estimate: {{prop.zestimate}}</md-list-item>
                    <md-list-item>finished square feet: {{prop.finishedSqFt}}</md-list-item>
                    </md-list>
                </md-card-content>
                </md-card>
            </a>
        </div>
    </div> -->
    
    <md-grid-list cols="4" rowHeight="100px">
        <div *ngFor="let prop of propResponse">
            <a *ngIf="prop.neighborhood == id" href="{{prop.url}}">
            <md-grid-tile [colspan]="2" [rowspan]="1">
                    {{prop.address}}    
            </md-grid-tile>
            </a>
        </div>
    </md-grid-list>
      
</div>
      